<div class="container">
  <h2>Post an offer :</h2>
  <%= simple_form_for @service do |f| %>
    <%= f.input :name, maxlength: 15 %>
    <%= f.input :helpies %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.association :category %>
    <%= f.submit "add a service", class: "btn btn-primary" %>
  <% end %>
</div>

<!-- add a picture button for users to add photos of service -->
