<h2><%= @service.name %></h2>
<p><%= @service.category.name %></p>
<p><%= @service.user.first_name %></p>
<p><%= @service.user.last_name %></p>
<p><%= @service.helpies %></p>
<p><%= @service.rating %></p>
