
<div class="show-banner" style="background-image: url('<%= @service.photo_or_default %>')">
            <!-- <div class="show-banner-price">
              <h3><%= @service.helpies %> <i class="far fa-hand-paper"></i></h3>
            </div> -->
          </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <h1><%= @service.name.capitalize %></h1>


         <form method="post" action="/services/<%= @service.id %>/bookings">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input value="Book" placeholder="Book" type="submit" name = "booking[status]" />
        </form>

        <div class="descript">
          <p><%= @service.description%></p>

        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h1>Posted by :</h1>
      <div class="postuser">
        <h4><%= @service.user.first_name.capitalize %></h4>
        <p><%= @service.user.hobby %></p>
        <p><%= @service.user.field %></p>
      </div>


    </div>

  </div>
</div>
