
<div class="show-banner" style="background-image: url('<%= @service.photo_or_default %>')">
            <!-- <div class="show-banner-price">
              <h3><%= @service.helpies %> <i class="far fa-hand-paper"></i></h3>
            </div> -->
          </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8" >

      <div class="show-description">
        <div class="row">
          <div class="col-md-6 align-left"><h1><%= @service.name.capitalize %></h1>
          </div>
          <div class="col-md-6 align-right"><h2><%= @service.helpies%> <i class="far fa-hand-paper"></i></h2>
        </div>

        </div>
        <br><br>
      <div class="white-back-about">
        <h3>About my service</h3>
        <br>
        <div class="descript">
          <p><%= @service.description%></p>
        </div>
      </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">

          <div class="show-card">
            <% if current_user != @service.user %>
            <%= link_to 'Write me', conversations_path(sender_id: current_user.id, recipient_id: @service.user.id), method: 'post', class: "btn btn-info show-message" %>
            <% end %>
          </div>

          <div class="show-request">
            <% if current_user != @service.user %>
              <form method="post" action="/services/<%= @service.id %>/bookings">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input value="Request" class="btn btn-info trigger-btn show-request" placeholder="Book" type="submit" name = "booking[status]" />
              </form>
            <% end %>
          </div>

          <div class="white-back-about-me">


          <div class="show-avatar">
            <div class=" img-circle">
              <% if @service.user.avatar? %>
                <%= image_tag @service.user.avatar.url(:show_face), class: "img-circle" %>
              <% else %>
                <%= image_tag "helpster.png", class: "profile-hipster"%>
              <%end%>
            </div>
          </div>
          <div class="show-about">
            <h3>About me</h3>
            <br>
          </div>



      <div class="postuser">
        <p>My name is <%= @service.user.first_name.capitalize %>, I study <%= @service.user.field.downcase %> and I love <%= @service.user.hobby.downcase %>.</p>


        <% unless @service.user.university.nil? %>
          <p>I am a student at <%= @service.user.university.name %>.</p>
        <%end%>
          <p>I have <%= @service.user.helpies %> Helpies and I've helped sor far <%= @service.user.services.count %>
        <% unless @service.user.services.count == 1 %>people !
        <% else %>person !</p>
        <%end%>

      </div>
        <br>
        <div class="review-me">
          <p><i class="far fa-star"></i> <%= link_to " My last reviews", service_reviews_index_path(@service) %></p>
        </div>


    </div>
    </div>

    </div>
  </div>

  <div class="show-cat">
    <h1>Other services of the same category</h1>
  </div>

  <%= render "shared/card", services: Service.where(category: @service.category).last(4) %>


</div>
