
<div class="show-banner" style="background-image: url('<%= @service.photo_or_default %>')">
            <!-- <div class="show-banner-price">
              <h3><%= @service.helpies %> <i class="far fa-hand-paper"></i></h3>
            </div> -->
          </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8" >

      <div class="show-description">
        <div class="row">
          <div class="col-md-6"><h1><%= @service.name.capitalize %></h1>
          </div>
          <div class="col-md-6"><h1><%= @service.helpies%> <i class="far fa-hand-paper"></i></h1>
        </div>

        </div>

        <h3>About my service</h3>
        <br>
        <div class="descript">

          <p><%= @service.description%></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">

        <div class="show-card">
          <div class="show-message">
            <%= link_to "Write me", "#", class: "btn btn-info" %>
          </div>
          <div class="show-request">
            <form method="post" action="/services/<%= @service.id %>/bookings">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input value="Request" class="btn btn-info trigger-btn" placeholder="Book" type="submit" name = "booking[status]" />
            </form>
          </div>
          <div class="show-avatar">
            <div class="profile-avatar">
              <% if current_user.avatar? %>
                <%= image_tag current_user.avatar.url(:show_face) %>
              <% else %>
                <%= image_tag "helpster.png", class: "profile-hipster"%>
              <%end%>
            </div>
          </div>
          <div class="show-about">
            <h3>About me</h3>
          </div>
        </div>


      <div class="postuser">


        <h4>My name is <%= @service.user.first_name.capitalize %>, I study <%= @service.user.field.downcase %> and I love <%= @service.user.hobby.downcase %> !</h4>

      </div>
service_booking_reviews
/services/:service_id/bookings/:booking_id/reviews

    </div>
   <%= render 'reviews/form', service: @service, review: @review %>
  </div>

  <div class="show-cat">
    <h1>Other services of the same category</h1>
  </div>

  <%= render "shared/card", services: Service.where(category: @service.category).last(4) %>


</div>
