<div class="container">
  <br>
  <br>
  <h1>Welcome on Helpiness !</h1>




  <%=  collection_select(:post, :category_id, University.all, :id, :name,
  {}, class: "select2") %>




<%= simple_form_for(resource, as: resource_name, id: "signup", url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <%= image_tag "helpster.png", width: 300 %>
    </div>

    <div class="col-xs-12 col-sm-6 col-offset-2">

        <div id="example-form">
           <div id="wizard">

          <h3>Name</h3>
            <section>
              <div class="legend">
                <legend>Account Information</legend>
              </div>

              <br>
              <br>



              <h3>Hello, I am Helpster !</h3>

              <br>
                <h4>What is your name ?</h4>

                <br>
              <br>

              <%= f.input :first_name, required: true, label: "", autocomplete: "off"  %>
          </section>

          <h3>University</h3>
            <section>
              <div class="legend">
                <legend>Account Information</legend>
              </div>

              <br>
              <br>


              <br>

              <br>
                <h4>What university are you in ?</h4>


                <br>
              <br>



            </section>

          <h3>Field</h3>
            <section>
              <div class="legend">
                <legend>Account Information</legend>
              </div>

              <br>
              <br>


              <br>

              <br>
                <h4>What do you study ?</h4>

                <br>
              <br>
              <%= f.input :field, required: true, label: "What do you study ?" %>
            </section>


          <h3>Hobbies</h3>
            <section>
              <div class="legend">
                <legend>Account Information</legend>
              </div>

              <br>
              <br>


              <br>

              <br>
                <h4>What are your hobbies ?</h4>

                <br>
              <br>
              <%= f.input :hobby, required: true, label: "What are your hobbies and activities you practice ?" %>
            </section>


          <h3>Email</h3>
            <section>
              <div class="legend">
                <legend>Account Information</legend>
              </div>
              <br>
              <br>


              <br>

              <br>
                <h4>What is your email ?</h4>

                <br>
              <br>
              <%= f.input :email, required: true, label: "What is your email ?" %>
            </section>

          <h3>Password</h3>
            <section>
              <div class="legend">
                <legend>Account Information</legend>
              </div>
              <br>
              <br>


              <br>

              <br>
                <h4>Choose a password :</h4>

                <br>
              <br>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: "What is your password ?" %>
            </section>

          <h3>Password confirmation</h3>
            <section>
              <div class="legend">
                <legend>Account Information</legend>
              </div>
              <br>
              <br>


              <br>

              <br>
                <h4>Confirm your password :</h4>

                <br>
              <br>
              <%= f.input :password_confirmation, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: "What is your password again ?" %>
            </section>



  </div>
  </div>
<% end %>

</div>
</div>
</div>

<%= content_for :body_js do %>
  <script>
    var gevent;
    $("#wizard").steps({
      headerTag: "h3",
      bodyTag: "section",
      transitionEffect: "slideLeft",
      onFinishing: function (event, currentIndex) {
        $("#new_user").submit();
        return true;
      }
    });





  document.addEventListener('keypress', (event) => {
    const keyCode = 13;
    if (event.charCode == keyCode) {

      $( "a:contains('Next')").click();

      if ($(".actions>ul>li").hasClass('disabled')) {
          $( "a:contains('Finish')").click();
          console.log("here");
      }

    }

  });
  </script>
<% end %>



