<div class="container">
  <div class="inbox-head row">
    <div class="col-md-6">
      <div class="align-left">
        <h1>Mailbox</h1>
      </div>
    </div>
    <div class="col-md-6">
      <form class="text-right" action="#">
        <div class="input-append">
          <input class="sr-input" placeholder="Search Mail" type="text">
          <button class="sr-btn" type="button"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>
   <div class="ui list">
    <div class="item">
     <% @conversations.each do |conversation| %>
          <% unless conversation.messages.empty? %>
           <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
             <% if conversation.sender_id == current_user.id %>

              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <%#if conversation.messages.last.body.length > 20&%>
              <p> <%#= conversation.messages.last.body[0..20] + "..."%></p>
            <%#else%>
              <p><%#= conversation.messages.last.body%></p>
            <%#end%>
            <div class="inbox-content">
              <div class="row">
                <div class="col-md-4">
                  <% unless current_user %>
                    <% if conversation.recipient.avatar? %>
                      <%= image_tag conversation.recipient.avatar.url(:show_face), class: "img-circle" %>
                    <% else %>
                      <%= image_tag "helpster.png", class: "profile-hipster"%>
                    <%end%>
                  <% else %>
                    <% if conversation.sender.avatar? %>
                      <%= image_tag conversation.sender.avatar.url(:show_face), class: "img-circle" %>
                    <% else %>
                      <%= image_tag "helpster.png", class: "profile-hipster"%>
                    <%end%>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <%= link_to recipient.first_name,   conversation_messages_path(conversation)%>
                </div>
                <div class="col-md-4">
                  <%= time_ago_in_words(conversation.created_at) + ' ago' %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
       <% end %>
      </div>
    </div>
</div>


