<% @services.each do |service| %>
  <% unless service.bookings.where(status: :accepted).empty? %>
    <h2><%= service.name %></h2>
  <% end %>

  <div class="flex-container">
    <% Booking.where(service: service, status: :accepted).each do |accepted| %>
      <div class="flex item">
        <div class="flex-container2 post-indiv">
          <div class="flex item">
            <%= cl_image_tag(accepted.service.photo_url, width: 100, height: 75, crop: :fill, class: "img-radius") %>
          </div>
          <div class="flex item">
            <h4><%= accepted.customer.first_name.capitalize%></h4>
            <small><%= time_ago_in_words(accepted.created_at) + ' ago' %></small>
          </div>
          <div class="flex item">
            <p><%= accepted.customer.email %></p>
          </div>
          <div class="flex item">
            <h5><%=link_to "Completed", service_booking_completed_path(service, accepted ), method: "patch", data: { no_turbolink: true }, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

