<div id="wrapper">
  <div id="header">
    <% unless current_user.avatar.nil?  %>
      <img <%= current_user.avatar %>>
    <% end %>
    <h1><%= current_user.first_name.upcase %></h1>
      <% if current_user.rating.nil?%>
        <p><%="no ratings yet"%></p>
      <%else%>
        <p><%= current_user.rating %></p>
      <%end%>
    <p><%= current_user.helpies %></p>

    <% unless current_user.university.nil?  %>
      <h3>Member of <%= current_user.university.capitalize%></h3>
    <% end %>
  </div>

  <div id="container">
    <ul class= "nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="offers-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="offers" aria-selected="false">Offers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="false">
          Request
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="accepted-requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="accepted-requests" aria-selected="false">
          Accepted-Request
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <p>hello</p>
    </div>

    <div class="container tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <p><%if current_user.services %></p>
        <%= render 'shared/card'%>
        <%else%>
        <p>You aren't offering any services yet</p>
        <%end%>
      </div>
    </div>
    </div>

    <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
      <p><%if current_user.services %></p>
            <%= render 'user-request'%>
          <%else%>
            <p>You aren't offering any services yet</p>
          <%end%></p>
    </div>

    <div class="tab-pane fade" id="accepted-requests" role="tabpanel" aria-labelledby="accepted-requests-tab">
      <p><%if current_user.services %></p>
            <%= render 'accepted-request'%>
          <%else%>
            <p>You have no request</p>
          <%end%></p>
    </div>
  </div>
</div>


