<div class="cards">
    <div class="row">
      <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to service_path(service) do %>
        <div class="service-card">
          <div class="card-img">
            <% if service.photo_url %>
            <% photo = cl_image_path(cl_image_tag(service.photo_url, width: 200, height: 150, crop: :fill, class: "card-img")) %>
          <% else %>
            <% photo = "https://tse2.mm.bing.net/th?id=OIP.--WIa0qH3fLeoTo2E7uHigHaE8&pid=Api" %>
          <% end %>
          </div>
          <div class="card-category"><%= service.category.name %></div>
          <div class="card-description"><%= service.description.truncate_words(10) %></div>
          <div class="card-name"><%= service.name %></div>
          <div class="card-price"><%= service.helpies %> €</div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

