<div class="container">
  <div class="cards">
    <div class="row">
      <% services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to service_path(service) do %>
        <div class="service-card">
          <div class="card-img">
            <%= image_tag(service.photo_or_default, width: 200, height: 150, crop: :fill, class: "card-img") %>
          </div>
          <div class="card-category"><%= service.category.name %></div>
          <div class="card-description"><%= service.description.truncate_words(10) %></div>
          <div class="card-name"><%= service.name %></div>
          <div class="card-helpies"><%= service.helpies %> <i class="far fa-hand-paper"></i></div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

