<div class="helpies-card">
  <%= image_tag "helpie-hand.png"%>
  <h1 class="helpie-count"><%=current_user.helpies%></h1>
    <div class="helpies-container">
      <h3>You have <%= current_user.helpies%> helpies</h3>
    </div>
  </div>

    <!-- <div class="container">
      <% @services.each do |service| %>
      <div class="service-card">
        <%= link_to service_path(service) do %>
        <div class="card-img">
          <% if service.photo_url %>
          <%#= image_tag(service.photo_url, class: "card-img") %>
          <%= cl_image_tag(service.photo_url, width: 200, height: 150, crop: :fill) %>
          <% else %>
          <%= image_tag "https://tse2.mm.bing.net/th?id=OIP.--WIa0qH3fLeoTo2E7uHigHaE8&pid=Api" %>
          <% end %>

        </div>

        <div class="card-category"><%= service.category.name %></div>
        <div class="card-description text-center"><%= service.description.truncate_words(10) %></div>
        <div class="card-name"><%= service.name %></div>
        <div class="card-helpies"><%= service.helpies %> <i class="far fa-hand-paper"></i></div>
      </div>
      <% end %>
      <% end %>
    </div> -->
