<div class="navbar-helpiness">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-helpiness-brand" do %>
    <%= image_tag "logo3.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-helpiness-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Create", new_service_path, class: "navbar-helpiness-item navbar-helpiness-link" %>
      <%= link_to "Services", services_path, class: "navbar-helpiness-item navbar-helpiness-link" %>
      <%= link_to "Messages", conversations_path, class: "navbar-helpiness-item navbar-helpiness-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-helpiness-item">
        <div class="dropdown">
          <%= image_tag current_user.avatar_or_default, class: "avatar dropdown-toggle", id: "navbar-helpiness-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-helpiness-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fas fa-edit"></i> <%= t(".profile", default: "Edit profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Login", new_user_session_path, class: "navbar-helpiness-item navbar-helpiness-link" %>
    <%= link_to "Sign up", new_user_registration_path, class: "navbar-helpiness-item navbar-helpiness-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-helpiness-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-helpiness-dropdown-menu">

        <% if user_signed_in? %>


          <li><%= link_to "Create", new_service_path, class: "navbar-helpiness-item navbar-helpiness-link" %></li>
          <li><%= link_to "Services", services_path, class: "navbar-helpiness-item navbar-helpiness-link" %></li>
          <li><%= link_to "Messages", conversations_path, class: "navbar-helpiness-item navbar-helpiness-link" %></li>

        <% else %>

          <li><%= link_to "Login", new_user_session_path, class: "navbar-helpiness-item navbar-helpiness-link" %></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-helpiness-item navbar-helpiness-link" %></li>

        <% end %>


      </ul>
    </div>
  </div>
</div>

