
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(242,153,74,0.5) 0%, rgba(242,201,76,0.5) 50%), url('<%= image_url "background.jpg" %>');">
  <div class="banner-content">

    <div class="banner-content">
        <div class="titre">
      <h1>Need help ?</h1>
      </div>
    </div>
    <h1><span id="banner-typed-text"></span></h1>

    <p></p>
    <br>

    <% if user_signed_in? %>
    <%= render "services/search_form" %>
    <% else %>
    <a href="/accounts/sign_up" class="btn-yours">Come in !</a>
    <% end %>
  </div>
</div>
<div class="container">

<div class="h1-home">
  <h1>What is helpiness ?</h1>
</div>


    <div class="cards">
      <div class="row">

          <div class="col-xs-12 col-sm-4">
          <div class="testimonial-card">

            <div class="card-logo"><%= image_tag "Users.svg", width: 50 %></div>
            <div class="card-mec">A community</div>
            <div class="card-cont">A place to help each other through the exchange of services.</div>
          </div>

          </div>

          <div class="col-xs-12 col-sm-4">
          <div class="testimonial-card">

            <div class="card-logo"><%= image_tag "Share.svg", width: 50 %></div>
            <div class="card-mec">For services</div>
            <div class="card-cont">Easily book any kind of service : tutoring, manual labour...</div>
          </div>

          </div>

        <div class="col-xs-12 col-sm-4">
          <div class="testimonial-card">

            <div class="card-logo"><%= image_tag "Mastercard.svg", width: 50 %></div>
            <div class="card-mec">No money</div>
            <div class="card-cont">Members can exchange services by using Helpies <i class="far fa-hand-paper">.</i></div>


          </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-4">
          <div class="testimonial-card">

            <div class="card-logo"><%= image_tag "Invisible.svg", width: 50 %></div>
            <div class="card-mec">No taxes</div>
            <div class="card-cont">When you earn 100 Helpies, you can spend 100 Helpies.</div>
          </div>

          </div> -->


      </div>
    </div>


<div class="h1-home">
  <h1>How does it work ?</h1>
</div>


    <div class="cards">
      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <div class="testimonial-card">

            <div class="card-logo"><%= image_tag "Upload.svg", width: 50 %></div>
            <div class="card-mec">Post a service</div>
            <div class="card-cont">Use your competencies to help your fellows <i class="far fa-hand-paper"></i> .</div>


          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="testimonial-card">

            <div class="card-logo"><%= image_tag "Download.svg", width: 50 %></div>
            <div class="card-mec">Book a service</div>
            <div class="card-cont">Spend your Helpies <i class="far fa-hand-paper"></i> on any service that's on offer.</div>
          </div>

          </div>

      </div>
    </div>

  <div class="lien">
    <a href="/accounts/sign_up" class="btn btn-info">Let's start</a>
  </div>


  </div>

</div>
